@tailwind base;
@tailwind components;
@tailwind utilities;
/* 可以在這邊撰寫一般css( 但不建議 )*/
/* 請用 @layer utilities 內寫自己的class，並搭配 @apply，盡量使用tailwindcss的class避免多寫css */

@layer utilities {
  /* padding */
  .gloable-padding{
    @apply px-7 xs:px-9 sm:px-14 md:px-24 xl:px-28 2xl:px-36
  }
  /* Typography systems - mobile*/
  .text-mega-3xl{
    @apply text-[5rem]
  }
  .text-mega-2xl{
    @apply text-[4.5rem]
  }
  .text-mega-xl{
    @apply text-[3.5rem]
  }
  .text-mega{
    @apply text-[3rem];
  }
  .text-h1{
    @apply text-[2.25rem]
  }
  .text-h2{
    @apply text-[2rem]
  }
  .text-h2-sm{
    @apply text-[1.65rem]
  }
  .text-h3{
    @apply text-[1.5rem]
  }
  .text-h4{
    @apply text-[1.3rem]
  }
  .text-h5{
    @apply text-[1.15rem]
  }
  .text-body{
    @apply text-[1rem]
  }
  .text-body-sm{
    @apply text-[0.85rem]
  }
  .text-small{
    @apply text-[0.75rem]
  }
}

/* 字型 */
@font-face {
  font-family: 'NotoSansCJKtc-Black';
  src: url('./assets/fonts/NotoSansCJKtc-Black.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-Bold';
  src: url('./assets/fonts/NotoSansCJKtc-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-DemiLight';
  src: url('./assets/fonts/NotoSansCJKtc-DemiLight.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-Light';
  src: url('./assets/fonts/NotoSansCJKtc-Light.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-Medium';
  src: url('./assets/fonts/NotoSansCJKtc-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  src: url('./assets/fonts/NotoSansCJKtc-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-Thin';
  src: url('./assets/fonts/NotoSansCJKtc-Thin.otf') format('opentype');
}



